.loans_container_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
}

.loans_green_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}