.home_card_template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.homepage_options {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.homepage_options_row {
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1264px) {

    .homepage_options_row {
        width: 80%;
    }
}

.homepage_options_row div {
    min-width: 150px;
    /*width: 30%;*/
    display: flex;
    justify-content: center;
    border-radius: 5%;
    padding: 2.3rem 0;
    background-color: rgba(253, 252, 252, 0.84);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    text-align: center;
}

.dialogAddTransaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialogAddTransaction .p-float-label {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.dialogAddTransaction .p-float-label .p-dropdown {
    width: 250px;
}